.banner {
  height: 100vh;
  text-align: center;
  background: url(https://gw.alipayobjects.com/mdn/rms_08e378/afts/img/A*kJM2Q6uPXCAAAAAAAAAAAABkARQnAQ);
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  h1 {
    font-size: 4rem;
  }
  h2 {
    color: rgba(0, 0, 0, 0.588);
  }
  button {
    margin-top: 40px;
  }
}